*.caffemodel
*.tsv
/snap
*.pyc
*.cpython-39.pyc
datamaps/coco
*.pkl
jupyterhub.sqlite
jupyterhub_cookie_secret
datamaps/.ipynb_checkpoints/
src/dataset_selection/datamaps/coco/
src/__pycache__/
src/tasks/__pycache__/
.neptune/async/
data/
src/dataset_selection/datamaps/qualitative_analysis/model_predictions.ipynb
src/dataset_selection/datamaps/.ipynb_checkpoints/
src/dataset_selection/datamaps/qualitative_analysis/.ipynb_checkpoints/model_predictions-checkpoint.ipynb
src/dataset_selection/sampling/.ipynb_checkpoints/
src/tasks/.ipynb_checkpoints/
